body{
    background-color: blueviolet;
}
.main-box{
    position: relative;
    width: 1020px;
    height: 600px;
    margin: 0 auto;
    
    background-image: url("img/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}
.image-container {
    position: relative;
}

.text-container {
  display: flex;
  position: absolute;
  background: rgba(117, 190, 111, 0.7);
  padding: 0;
  margin: 0;
  z-index: 1000;
}
